# Copy this file to .env and fill in your values:
#   cp .env.example .env

PORT=
DATABASE_HOST=
SOCKET_PATH= # Some cloud databases use socket path instead of Host address
DATABASE_PORT= # Usually 3306
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME= # Standard name for TraCAD PMU database
CAL_ENGINE_BASE_URL= # URL of the Calculation Engine service
